<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>52.1</string>
	<string>55.5</string>
	<string>58.5</string>
	<string>61</string>
	<string>63.2</string>
	<string>65.1</string>
	<string>66.5</string>
	<string>68.3</string>
	<string>69.8</string>
	<string>71</string>
	<string>72.2</string>
	<string>73.4</string>
	<string>74.5</string>
	<string>75.6</string>
	<string>76.6</string>
	<string>77.7</string>
	<string>78.6</string>
	<string>79.4</string>
	<string>80.3</string>
	<string>81</string>
	<string>81.9</string>
	<string>82.4</string>
	<string>83.5</string>
	<string>84.3</string>
	<string>85.4</string>
	<string>85.8</string>
	<string>86.2</string>
	<string>87</string>
	<string>87.8</string>
	<string>88.9</string>
	<string>89.5</string>
	<string>90</string>
	<string>90.4</string>
	<string>90.6</string>
	<string>90.8</string>
	<string>91.1</string>
</array>
</plist>
