<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>57</string>
	<string>60.7</string>
	<string>63.7</string>
	<string>66.4</string>
	<string>68.6</string>
	<string>70.5</string>
	<string>72</string>
	<string>73.6</string>
	<string>75</string>
	<string>76.3</string>
	<string>77.5</string>
	<string>78.8</string>
	<string>80</string>
	<string>81.3</string>
	<string>82.3</string>
	<string>83.4</string>
	<string>84.6</string>
	<string>85.4</string>
	<string>86.6</string>
	<string>87.9</string>
	<string>88.4</string>
	<string>89.2</string>
	<string>90.3</string>
	<string>91</string>
	<string>92.1</string>
	<string>92.6</string>
	<string>93.5</string>
	<string>94.2</string>
	<string>94.9</string>
	<string>95.8</string>
	<string>96.3</string>
	<string>96.5</string>
	<string>96.9</string>
	<string>97.2</string>
	<string>98</string>
	<string>98.7</string>
</array>
</plist>
